/* SVG */
:root {
  --staff-color: purple;
  --staff-unit: 5px;
}
.staff {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.staff svg {
  max-height: 100vh;
}
.line {
  stroke: var(--staff-color);
  stroke-width: 1;
}

.staff,
.trebleClef,
.bassClef,
.grandStaffBrace,
.wholeNote,
.sharp,
.flat {
  fill: var(--staff-color);
}
