@import url(~sanitize.css);

:root {
  --color-error: #f00;
  --color-success: #0f0;
  --color-text-inverted: #fff;
  --white: #fff;

  --color-primary: blue;

  --spacer: 8px;

  --font-size-default: 16px;
  --font-size-big: 20px;
  --text-color-primary: #000;

  --border-radius-small: 2px;

  --animation-duration-base: 0.2s;
  --animation-duration-base: ease-in-out;

  --body-bg-color: var(--white);

  --color-red-01: #df1417;
  --color-red-02: #8c0406;
  --color-red-03: #490409;
}

.appLoader {
  display: flex;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--body-bg-color);
  transition: opacity 0.5s;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.appLoader--done {
  opacity: 0;
  pointer-events: none;
}
