:root {
  --piano-key-white: #fff;
  --piano-key-white-stroke: #888;
  --piano-key-black: #333;
  --piano-key-black-stroke: #000;

  --marker-color-hue: 100;
  --marker-background-color: hsl(var(--marker-color-hue), 100%, calc(50% / 2));
  --marker-stroke-color: hsl(
    calc(var(--marker-color-hue) - 50),
    100%,
    calc(50% / 2)
  );
  --marker-text-color: black;
}

.PianoKeyboard {
  width: 100%;
}

.key--white {
  stroke: var(--piano-key-white-stroke);
  fill: var(--piano-key-white);
  stroke-width: 2;
}

.key--black {
  stroke: var(--piano-key-black-stroke);
  fill: var(--piano-key-black);
}

.key__dotMarker circle {
  stroke: var(--marker-stroke-color);
  fill: var(--marker-background-color);
  stroke-width: 4;
}

.key__dotMarker text {
  font-size: 32px;
  fill: var(--marker-text-color);
}
